.main{
    position: relative;
}
.menu-nav-wrap-full{
    width: 100%;
    background: #4a4a4a;
    height: 44px;
}
.menu-nav-wrap-full-h2{
    height: 88px!important;
}
.menu-nav-wrap{
    position: absolute;
    width: 1000px;
    left: 50%;
    margin-left:-500px;
}
.menu-single-wrap{
    float: left;
    width: 100px;
    background: #4a4a4a;
    height: 44px;
    color: white;
    text-align: center;
    line-height: 44px;
    border-right: 1px solid #5b5b5b;
    cursor: pointer;
}
.menu-single-wrap:first-child{
    border-left: 1px solid #5b5b5b;
}
.menu-single-wrap-default,.menu-single-wrap-active{
    background: #ff6601;
}
.content-wrap{
    width: 1000px;
    margin-left:50%;
    transform:translate(-50%,0);
}
.content-single{
    width: 320px;
    float: left;
    height: 200px;
    margin-left: 10px;
    background: white;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ff9001;
}
.content-single-preview{
    object-fit: cover;
    width: 320px;
    height: 200px;
    border-radius: 4px;
}
.content-single-middle{
    height: 32px;
    width: 320px;
    line-height: 32px;
    background: rgba(0,0,0,0.3);
    position:absolute;
    bottom: 32px;
    border-bottom: 1px solid white;
    color: #ff9001;
    display: none;
}
.content-single-middle-span{
    margin-left: 5px;
}
.content-single-middle-preview{
    height: 24px;
    width: 44px;
    margin-top: 4px;
    line-height: 24px;
    text-align: center;
    margin-right: 5px;
    border-radius: 4px;
    display: block;
    float: right;
    font-size: 13px;
    color: white;
    background: #ff9001;
}
.content-single-middle-preview:hover{
    background: #ff6601;
}
.content-single-middle-a:hover{
    color: black!important;
}
.content-single-middle-a{
    color: white!important;
    font-size: 12px;
}
.content-single-footer{
    position:absolute;
    bottom: -2px;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    font-size: 16px;
    background: #ff6601;
    overflow: hidden;
    width: 320px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.content-pagination{
    padding-top: 20px;
    text-align: center;
    clear: both;
}

.el-pager li.active {
     color:#ff6601!important;
}
.search-con{
    float: left;
    width: 450px;
    height: 32px;
    margin: 6px 30px 0 0;
    width: 1000px;
    clear: both;
    margin-left: 10px;
}
.search-text{
    width: 365px;
    height: 32px;
    border: 0;
    text-indent: 8px;
    float: left;
    border: 1px solid #f60;
    color: rgb(168, 168, 168);
}
.search-con .search-sub {
    width: 82px;
    height: 32px;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    line-height: 20px;
    float: left;
    cursor: pointer;
    letter-spacing: 4px;
    text-align: left;
    text-align: center;
    background-color: #f60;
}
.not-content-wrap{
    text-align: center;
    padding-top: 120px;
}
.not-content-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.not-content-wrap h2{
    margin-top: 10px;
    color: #f60;
}