.main{
    position: relative;
}
.menu-nav-wrap-full{
    width: 100%;
    background: #4a4a4a;
    height: REM(56);
    font-size: REM(22)!important;
    margin-top: REM(71);
}
.menu-nav-wrap-full-h2{
    height: REM(114)!important;
}
.menu-nav-wrap{
    position: absolute;
    width: REM(1500);
    left: 50%;
    margin-left:REM(-746);
    border:0;
}
.menu-single-wrap{
    float: left;
    width: REM(148);
    background: #4a4a4a;
    height: REM(56);
    color: white;
    text-align: center;
    line-height: REM(56);
    border:0;
    border-bottom: REM(1) solid #5b5b5b;
    border-right: REM(1) solid #5b5b5b;
    cursor: pointer;
}
.menu-single-wrap:nth-child(10n+1){
    border-left: REM(1) solid #5b5b5b;
}
.menu-single-wrap-default,.menu-single-wrap-active{
    background: #ff6601;
}
.menu-single-a{
    color: white;
}
.menu-single-a:link { 
    text-decoration: none; 
} 
.menu-single-a:visited { 
    text-decoration: none; 
} 
.menu-single-a:hover { 
    text-decoration: none; 
    color: white;
} 
.content-wrap{
    width: REM(1500);
    margin-left:50%;
    transform:translate(-50%,0);
}
.content-single{
    width: REM(366);
    float: left;
    height: REM(230);
    background: white;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    box-sizing:border-box;
    margin-left: REM(12);
    font-size: REM(20);
    overflow: hidden;
}
.content-single:hover{
    border:1px solid #ff9001;
}
.content-single:nth-child(4n+1){
    margin-left: REM(0);
}
.content-single-preview{
    object-fit: cover;
    width: REM(365);
    height: REM(200);
    border-radius: 4px;
}
.content-single-middle{
    height: REM(40);
    width: REM(364);
    line-height: REM(40);
    background: rgba(0,0,0,0.3);
    position:absolute;
    bottom: REM(50);
    color: #ff9001;
    display: none;
}
.content-single-middle-span{
    margin-left: REM(5);
}
.content-single-middle-preview{
    height: REM(30);
    width: REM(50);
    margin-top: REM(5);
    line-height: REM(32);
    text-align: center;
    margin-right: REM(5);
    border-radius: REM(4);
    display: block;
    float: right;
    font-size: REM(12);
    color: white;
    background: #ff9001;
}
.content-single-middle-preview:hover{
    background: #ff6601;
}
.content-single-middle-a:hover{
    color: black!important;
}
.content-single-middle-a{
    color: white!important;
    font-size: 12px;
}
.content-single-footer{
    position:absolute;
    bottom: 0;
    left: 0;
    height: REM(50);
    line-height: REM(50);
    padding: 0 REM(5);
    font-size: REM(20);
    background: #ff6601;
    overflow: hidden;
    width: REM(365);
    text-overflow: ellipsis;
    white-space: nowrap; 
    color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing:border-box;
}
.content-pagination{
    padding-top: 20px;
    text-align: center;
    clear: both;
}

.el-pager li.active {
     color:#ff6601!important;
}
.search-con{
    float: left;
    height: REM(44);
    margin: REM(20) 0 0 0;
    width: REM(1500);
    clear: both;
    font-size: REM(20);
    position: relative;
    margin-bottom: REM(10)
}
.search-text{
    width: REM(500);
    height: REM(42);
    text-indent: REM(8);
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #f60;
    color: rgb(168, 168, 168);
    font-size: REM(20);
}
.search-con .search-sub {
    width: REM(98);
    height: REM(44);
    border: 0;
    color: #fff;
    font-size: REM(20);
    font-family: \5FAE\8F6F\96C5\9ED1;
    line-height: REM(44);
    position: absolute;
    left: REM(500);
    top: 0;
    cursor: pointer;
    letter-spacing: 4px;
    text-align: left;
    text-align: center;
    background-color: #f60;
}
.not-content-wrap{
    text-align: center;
    padding-top: REM(200);
}
.not-content-img{
    width: REM(200);
    height: REM(200);
    border-radius: 50%;
}
.not-content-wrap h2{
    margin-top: REM(10);
    color: #f60;
    font-size: REM(20);
}