<!DOCTYPE html>
<html lang='en'>
<head>
  <meta name="baidu-site-verification" content="zB7PIlT1gD" />
  <title>凌晨零点半</title>
  <meta name='凌晨两点半，canvas，3d特效，微信小程序，活动页，官网模板，焦点图，日期钟表'>
  <meta name='凌晨零点半作者是只前端猿；在空闲时间，喜欢收集前端的各种工具、插件、架构来分享'>
  <meta http-equiv='content-type' content='text/html;charset=utf-8'>
  <meta name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui'>
  <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
</head>
<body>
  <div id='app'></div>
  <!--vue-ssr-outlet-->
</body>
</html>
