.footer {
  width: 100%;
  height: 40px;
  background-color: #373d41;
  font-size: 12px;
  padding: 0;
  color: #d7d8d8;
  text-align: center;
  line-height: 40px;
  clear: both;
}
.footer-span{
}
.vertical-line{
    padding: 0 10px;
}
.footerFixed{
    position: fixed;
    bottom: 0;
}
