body{
    overflow-y: auto;
}
.main{
    position: relative;
    
}
.menu-nav-wrap-full{
    width: 100%;
    background: #4a4a4a;
    height: 44px;
}
.menu-nav-wrap-full-h2{
    height: 88px!important;
}
.menu-nav-wrap{
    position: absolute;
    width: 1000px;
    left: 50%;
    margin-left:-500px;
}
.menu-single-wrap{
    float: left;
    width: 100px;
    background: #4a4a4a;
    height: 44px;
    color: white;
    text-align: center;
    line-height: 44px;
    border-right: 1px solid #5b5b5b;
    cursor: pointer;
}
.menu-single-wrap:first-child{
    border-left: 1px solid #5b5b5b;
}
.menu-single-wrap-default,.menu-single-wrap-active{
    background: #ff6601;
}
.menu-single-a{
    color: white;
}
.menu-single-a:link { 
    text-decoration: none; 
} 
.menu-single-a:visited { 
    text-decoration: none; 
} 
.menu-single-a:hover { 
    text-decoration: none; 
    color: white;
} 
.content-wrap{
    width: 1000px;
    margin-left:50%;
    transform:translate(-50%,0);
    
}
.breadcrumb{
    margin-top: 10px;
}
.breadcrumbFirst{
    color: #ff6601!important;
}
.article-left-wrap{
    float: left;
    width: 700px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 50px;
}
.article-right-wrap{
    float: left;
    margin-left: 10px;
    width: 288px;
}
.article-left-h1{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    
}
.article-left-header{
    color: #ff6601;
    
}
.article-left-content{
    margin-top: 20px;
    padding: 0 10px;
    padding-bottom: 15px;
}
.el-button{
    height: 30px;
    width: 56px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0;
    background: #ff6601;
    border-radius: 4px;
}
.el-button-sp:hover{
    background: #ff6601;
    color: white!important;
}
.el-button-a{
    color: white!important;
    font-size: 12px;
}
.article-btn{
    float:right;
    margin-left: 15px;
    color: white!important;
}
.article-btn-download{
    margin-right: 2px;
}
.kuang-wrap{
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.kuang-wrap-h2{
    font-size: 16px;
    padding: 5px 0;
    color: #ff6601;
}
.kuang-li{
    max-height: 46px;
    margin-bottom: 5px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /*行数*/
    -webkit-box-orient: vertical;
}
.kuang-li-a{
    display: block;
    white-space:pre-wrap;
}
.kuang-li-a:hover{
    color: #ff6601;
}