
@media screen and (min-width: 769px) {
    body{
        overflow: hidden;
    }
    .footer{
        position:fixed;
        bottom:0;
    }
}
@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden!important;
    }
}