.index-content-wrap{
  background: white;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.content-left{
  width: 50%;
  float:left;
  padding: 1%;
  background: white;
}
.head-pic{
  width: REM(400);
  margin-left: REM(90);
}
.site-name{
  font-size: REM(26);
  font-weight: 500;
  margin-top: REM(10);
  margin-left: REM(91);
  color: #ff6601
}
.content-down{
  margin-left: REM(90);
  font-size: REM(20)
}
.content-right{
  width:44%;
  padding: 1%;
  margin-left: 2%;
  float:left;
  background: white;
  font-size: REM(20)
}
.content-wrap-ul li{
  height: REM(110);
  padding: REM(15) REM(1);
  border-bottom: 1px solid #ccc;
}
.content-li-picture{
  height: REM(110);
  width: REM(140);
  float: left;
  border-radius: REM(6);
}
.content-left-hr{
  width: 100%;
  height: 1px;
  background: #ccc;
  float: left;
  margin: REM(30) 0;
  font-size: REM(12)
}
.content-detail-wrap{
  float: left;
  width: REM(625);
  margin-left: REM(20);
  height: REM(110);
  position: relative;
  p{
    font-size: REM(22);
  }
}
.content-detail-date{
  font-size: REM(20);
  position: absolute;
  bottom: 0;
  left: REM(2);
}
.content-detail-label{
  font-size: REM(20);
  position: absolute;
  bottom: 0;
  right: REM(10);
}
.content-wrap-a:hover{
  color: #ff6601
}
.content-wrap-title{
  color: #ff6601
}