.index-content-wrap{
  background: white;
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
}
.content-left{
  width: 50%;
  float:left;
  padding: 1%;
  background: white;
}
.head-pic{
  width: 300px;
  margin-left: 90px;
}
.site-name{
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 91px;
  color: #ff6601
}
.content-down{
  margin-left: 90px;
}
.content-desc{
  margin-left: 91px;
  margin-top: 10px;
}
.content-right{
  width:48%;
  padding: 1%;
  margin-left: 2%;
  float:left;
  background: white;
}
.code-wrap{
  height: 200px;
  padding: 20px 10px 0 10px;
  text-align: center;
  background: #fbfbfb;
}
.code-wrap img{
  margin: auto;
  height: 150px;
  width:150px;
}
.content-wrap-ul li{
  height: 100px;
  padding: 15px 1px;
  border-bottom: 1px solid #ccc;
}
.content-li-picture{
  height: 70px;
  width: 100px;
  float: left;
  border-radius: 6px;
}
.content-detail-wrap{
  float: left;
  width: 325px;
  margin-left:20px;
  height: 70px;
  position: relative;
}
.content-detail-date{
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 2px;
}
.content-detail-label{
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 10px;
  /*color: #ff6602;*/
}
.content-wrap-a:hover{
  color: #ff6601
}
.content-wrap-title{
  color: #ff6601
}