@media screen and (min-width: 769px) {
  .index-content-wrap{
      background: white;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .content-left{
      width: 50%;
      float:left;
      padding: 1%;
      background: white;
    }
    .head-pic{
      width: REM(400);
      margin-left: REM(90);
    }
    .site-name{
      font-size: REM(26);
      font-weight: 500;
      margin-top: REM(20);
      margin-left: REM(91);
      color: #ff6601
    }
    .content-down{
      margin-left: REM(90);
      font-size: REM(20)
    }
    .content-right{
      width:44%;
      padding: 1%;
      margin-left: 2%;
      float:left;
      background: white;
      font-size: REM(20)
    }
    .content-wrap-ul li{
      height: REM(110);
      padding: REM(15) REM(1);
      border-bottom: 1px solid #ccc;
    }
    .content-li-picture{
      height: REM(110);
      width: REM(140);
      float: left;
      border-radius: REM(6);
      object-fit: cover;
    }
    .content-left-hr{
      width: 100%;
      height: 1px;
      background: #ccc;
      float: left;
      margin: REM(30) 0;
      font-size: REM(12)
    }
    .content-detail-wrap{
      float: left;
      width: REM(625);
      margin-left: REM(20);
      height: REM(110);
      position: relative;
      p{
        font-size: REM(22);
      }
    }
    .content-detail-date{
      font-size: REM(20);
      position: absolute;
      bottom: 0;
      left: REM(2);
    }
    .content-detail-label{
      font-size: REM(20);
      position: absolute;
      bottom: 0;
      right: REM(10);
    }
    .content-wrap-a:hover{
      color: #ff6601
    }
    .content-wrap-title{
      color: #ff6601
    }
}
@media screen and (max-width: 768px) {
  .index-content-wrap{
      background: white;
      width: 100%;
    }
    .content-left{
      width: 100%;
      padding: 1%;
      margin-top: REM(200);
      background: white;
      text-align: center;
    }
    .head-pic{
      width: 50%;
    }
    .site-name{
      font-size:REM(90);
      font-weight: 600;
      margin-top: REM(20);
      color: #ff6601;
      padding:2%;
    }
    .content-down{
      margin-left: REM(90);
      font-size: REM(90);
    }
    .content-down-mobile{
      display: none;
    }
    .content-right{
      width: 100%;
      padding: 2%;
      background: white;
      font-size: REM(80);
    }
    .content-wrap-ul li{
      height: REM(400);
      padding: REM(50) REM(10);
      font-size: REM(80);
      border-bottom: 1px solid #ccc;
    }
    .content-li-picture{
      height: REM(400);
      width: REM(620);
      float: left;
      border-radius: 6px;
      object-fit: cover;
    }
    .content-left-hr{
      width: 100%;
      height: 1px;
      background: #ccc;
      float: left;
      margin: REM(30) 0;
      font-size: REM(12)
    }
    .content-detail-wrap{
      float: left;
      width: REM(1200);
      margin-left: REM(20);
      height: REM(400);
      position: relative;
      font-size: REM(80);
      p{
        font-size: REM(22);
        font-size: REM(80);
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /*行数*/
        -webkit-box-orient: vertical;
      }
    }
    .content-detail-date{
      font-size: REM(20);
      position: absolute;
      bottom: 0;
      left: REM(2);
      font-size: REM(80);
    }
    .content-detail-label{
      font-size: REM(20);
      position: absolute;
      bottom: 0;
      right: REM(10);
      font-size: REM(80);
    }
    .content-wrap-a:hover{
      color: #ff6601
    }
    .content-wrap-title{
      font-size: REM(90);
      color: #ff6601
    }
}