body{
}
.container-fluid{
  padding-left:0!important;
  padding-right: 0!important;
  position: relative;
}
.logo-wrap{
  position: absolute;
  left: 90px;
  top:0;
  transform-origin: center center ;
  animation: btnRotate 10s infinite linear;
  z-index: 999;
  cursor:pointer;
}
@-webkit-keyframes btnRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes btnRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.header-wrap{
  background: white;
  padding: 10px 150px!important;
}
.header-wrap:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            -webkit-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
            border-bottom: 1px solid #DDDDDD;;
        }
.header-nav-link{
  color: #aaaaaa;
  font-size: 15px;
}
.logo{
  width:60px;
  height:60px;
}
